body {
  background-image: linear-gradient(to right bottom, rgb(221, 22, 55), blue);
  color: rgb(220, 20, 20);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#profpic {
  border-radius: 50%;
}
